body {
   background-color: var(--tea_green);
}

.flashlight {
   position: absolute;
   border-radius: 50%;
   background-color: transparent; 
   box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.95);
   filter: url(#blur-filter); 
 }

 .illuminatedItem {
   position: relative;
   overflow: hidden;
 }