:root {
   --tea_green: #cde7b0;
   --rusty_red: #d64550;
   --hunter_green: #3f6634;
   --darkMoss_green: #345511;
   --rich_black: #001514;

   /* --red: #ED1C24; */
}

body {
   background-color: var(--tea_green);
   margin: 0;
}

/* Classes */


/* universal Button to check e.g. a solution */
button {
   display: block;
   margin: 1em auto;
   background-color: var(--rusty_red);
   color: white;
   box-sizing: border-box;
   width: 10%;
   height: 100%;

   background-color: var(--hunter_green);
   border: 1px solid var(--rich_black);
   border-radius: 6px;
   cursor: pointer;
   font-size: 14px;
   font-weight: 600;
   padding: 6px 16px;
   text-align: center;
   text-decoration: none;
}
button:hover {
   background-color: var(--darkMoss_green);
}
button:active {
   background-color: var(--hunter_green);
   box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

/* Input field */
input[type="text"] {
   margin: 1% auto;
   display: block;
   border: 1px solid var(--rich_black);
   border-radius: 6px;
   padding: 6px 16px;
   text-align: center;
   text-decoration: none;
}