:root {
    --seafoam_green: #CDE7B0;
    --red: #ED1C24;
}

.body{
    background-color: var(--seafoam_green);
}

.panel {
    display: inline-block;
    width: 75px;
    height: 75px;
    border: 1px solid black;
 }
